.NavBar {
    text-align: center;
    font-size: 30px;
    color: aqua;
}

h3 {font-size: 50px;
    color:#fa8cb1}


a {text-decoration: none}
a {color: #37ab98}


.Categories {
    text-align: center;
    font-size: 25px;
    color:#fa8cb1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;


}


